---
bindings:
    dvs_server: tcp://127.0.0.1:8100
    client_server: tcp://0.0.0.0:8120
    injector_server: tcp://0.0.0.0:8140

logging:
    log_config: config/logging.yaml

# Optionele instellingen:
#zmq:
#  envelope: /RIG/InfoPlusDVSInterface

# Tenzij instellingen voor downtimedetectie en GC ingesteld worden, worden
# de standaardinstellingen overgenomen
#downtime_detection:
#  count_time_window: 10       # meet downtime over periode van 10 minuten
#  count_threshold: 1          # er moet minstens 1 bericht per minuut gedetecteerd zijn (gemiddeld)
#  recovery_time: 70           # status is hersteld 70 minuten zonder downtime

#garbage_collection:
#  gc_threshold: 10            # markeer treinen zonder vertrekbericht 10 minuten na vertrektijd als vertrokken
#  gc_threshold_static: 0      # markeer geinjecteerde ritten 0 minuten na vertrektijd als vertrokken
#  gc_threshold_departed: 120  # vertrokken treinen 120 minuten na vertrek bewaren

# Debugopties
#debug:
#  keep_departures: true       # vertrokken ritten geheel niet wissen
...
