---
bindings:
    dvs_server: tcp://127.0.0.1:8100
    client_server: tcp://0.0.0.0:8120
    injector_server: tcp://0.0.0.0:8140

logging:
    log_config: config/logging.yaml

zmq:
  envelope: /RIG/InfoPlusDVSInterface
...
